.segunda {
  background-color: blue;
  color: white;
  padding: 10px;
  text-align: center;
}

.sexta {
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
}

.domingo {
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
}
